body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("https://c1.staticflickr.com/1/604/31496655683_1339cce770_b.jpg");
  background-position: left center;
  background-size: cover;
  height: 1000px;
  width: 100%;
}

.header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 10%;
  width: 40%;
}

.name h1 {
  font-family: 'Satisfy';
  font-size: 110px;
  line-height: 30px;
}

h1 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 88px;
  font-weight: 400;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 36px;
  font-weight: 100;
}

li {
  margin: 0%;
  padding: 0;
}

img.resize {
  max-width:30%;
  max-height:30%;
}

