body {
  background-color: #000;
  background-image: url("https://c1.staticflickr.com/1/604/31496655683_1339cce770_b.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin: 0;
  padding: 0;
}

.header {
  height: 1000px;
  width: 100%;
}

.header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 10%;
  width: 600px;
}

.name h1 {
  font-family: 'Satisfy';
  font-size: 120px;
  line-height: 30px;
}

h1 {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 88px;
  font-weight: 400;
}

h2 {
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 36px;
  font-weight: 300;
}

h3 {
  color: #FFF;
  font-family: 'Satisfy';
  font-size: 54px;
  line-height: 30px;
}

h4 {
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
}

p {
  font-family: 'Open Sans';
  font-size: 20px;
}

.body-items {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  width: 70%;
}

li {
  border: 2px solid #FFF;
  color: #FFF;
  padding: 50px;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

